In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import requests 
from StringIO import StringIO
import numpy as np
import pandas as pd # pandas
import matplotlib.pyplot as plt # module for plotting 
import datetime as dt # module for manipulating dates and times
import numpy.linalg as lin # module for performing linear algebra operations}
import re
import nltk
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
from pandas import Series
from pandas import DataFrame
import timeit
import json
import os
from sklearn.feature_extraction.text import TfidfVectorizer
import timeit
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
def tokenize_and_stem(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems


def tokenize_only(text):
    # first tokenize by sentence, then by word to ensure that punctuation is caught as it's own token
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [3]:
job_posting_table = pd.read_csv("C:/R_data/Job_for_Myklovr/job_posting.csv",sep=",")
jab_cate_gourp = job_posting_table.groupby(["Type"])
jab_cate_gourp = jab_cate_gourp.count()
jab_cate_gourp = jab_cate_gourp.drop(jab_cate_gourp.columns[1:],axis = 1)
jab_cate_gourp = jab_cate_gourp.rename(columns = {"Unnamed: 0":"Count"})

In [4]:
job_posting_table

,Unnamed: 0,Title,Company,Location,Type,Description
0,1,Civil Site Design Engineer - Land Development ...,Absolute Opportunities,"Orange, CA",design,Civil Site Design Engineer - Land Development ...
1,10,Digital Media Planner,Green Key Resources,"New York, NY",digital-media,Our major fashion retailer is seeking a Digita...
2,12,Process Development Chemist- 6882,Simply Biotech,"Torrance, CA",chemist,Process Development Chemist- Simply Biotech ...
3,20,Real Estate Loan Processor (for credit union),Amtec Inc.,"La Habra, CA",real estate,Job Title: Real Estate Loan Processor Durat...
4,23,Sherman Oaks Law Firm Seeking Collections / De...,Gershfeld Law Group,"Sherman Oaks, CA",law,Are you looking for a good stable company to w...
5,24,Sr. Data Analyst - Competitive Pay!,"Premier Staffing Source, Inc.","New York, NY",data analyst,"Premier Staffing Source, Inc. is seeking a S..."
6,32,Teacher Assistant,Today's Learning Center,"Voorhees Township, NJ",teacher,Teacher Assistants Needed in two different cla...
7,33,Vice President of Human Resources,Professional Recruiters,"Phoenix, AZ",human resource,"VP of Human Resources Location: Phoenix, AZ ..."
8,34,Automation Software Engineer,21st Century Group,"Baltimore, MD",software engineer,Automation Software Engineer Immediate posit...
9,35,Court Research/Data Entry - Part Time - TX-Wil...,IT-Boss Research,"Floresville, TX",data entry,Data Entry - Court Research Abstractor This ...
10,43,Digital Media Specialist - Healthcare,Green Key Resources,"New York, NY",digital-media,Our healthcare client is seeking a Digital Med...
11,45,Functional Data Analyst,Strategic Staffing Solutions (S3),"San Francisco, CA",data analyst,Functional Data Analyst Leading Bank San ...
12,53,Human Resources Advisor,TRC Professional Solutions,"Kansas City, MO",human resource,"In conjunction with TRC Staffing, our direct c..."
13,55,Inside Sales Representative/ Automotive Sales,Hanlees Auto Group,"Davis, CA",sales,Sales Person and Internet : We are growing!!...
14,57,Patent Agent or Attorney - National Law Firm - DC,A Match Recruiting,"Washington, DC",law,"My client, a national law firm, is seeking a p..."
15,58,Polymer Chemist,LabPersonnel,"Hampshire, IL",chemist,Our client located in the Northwest Suburbs o...
16,66,Real Estate Investor Trainee,"Secura Alternative Investments, Inc","Charlotte, NC",real estate,Premier Real Estate education team in the U.S ...
17,84,Data Entry Specialist,Waltham Technologies,"Miami, FL",data entry,We are looking for a motivated Data Entry Spec...
18,93,Executive Assistant to Sales &amp; Marketing,BOLT Staffing Service,"American Canyon, CA",sales,Our client in American Canyon is seeking to hi...
19,95,Litigation Paralegal,Law Office,"Sanford, FL",law,A personal injury law firm is seeking an exper...
20,96,Mechanical Design Engineer,TRC Professional Solutions,"Mossville, IL",design,TRC Professional Solutions seeks a mechanical ...
21,99,Real Estate Marketing Assistant,Welu Home Team,"Eden Prairie, MN",real estate,Real Estate Marketing Assistant - (Hourly DOE...
22,100,Attorney - Family Law,"Law Offices of Nathan Pinkhasov, PLLC","Rego Park, NY",law,Boutique firm is looking for an experienced fu...
23,101,Chemist,"Temporaries of New England , Inc.","New London, CT",chemist,Chemist- the Chemist position which is under...
24,109,Customer Service Representative CSR / Data Entry,Tecan Global Limited,"Detroit, MI",data entry,Our Company is currently looking for a Custome...
25,117,Data Analyst III,Encore Technologies,"Cincinnati, OH",data analyst,Encore Technologies is seeking a Data Analys...
26,125,Digital Media Buyer,RAZR Recruiting &amp; Consulting,"Livingston, NJ",digital-media,Digital Media Buyer Our client is a mobile pl...
27,126,Graphics and Web Design,The Pittman Group,"Kansas City, MO",design,Job Description: The Graphics and Web Design...
28,128,HRIS Analyst,TRC Professional Solutions,"Atlanta, GA",human resource,In conjunction with TRC Staffing our direct cl...
29,129,Investment Sales Associate,New Western Acquisitions,"Saint Petersburg, FL",sales,New Western Acquisitions is looking for an In...
...,...,...,...,...,...,...
2245,8322,Data Entry / Administrative Assistant - Transp...,"TST IMPRESO, Inc.","Coppell, TX",data entry,Administrative Support for Traffic Department:...
2246,8330,Human Resources Assistant - Graveyard and Swin...,Commerce Casino,"Commerce, CA",human resource,"Under general supervision, the Human Resources..."
2247,8339,Human Resources Manager,SORTA/Metro,"Cincinnati, OH",human resource,Metro is seeking a full-time Human Resources ...
2248,8340,Clerical/ Receptionist/DATA ENTRY,Southern Management Systems,"Orlando, FL",data entry,Company seeking clerical / admin. person to an...
2249,8348,Human Resources Director,"Philadelphia Works, Inc.","Philadelphia, PA",human resource,Role Summary The primary objective of this p...
2250,8349,Data Entry- Financial Services,Plaza Services,"Sandy Springs, GA",data entry,Data Entry (75%) o Enter in consumer informati...
2251,8366,Full Cycle Recruiter - HR,Meridian Behavioral Healthcare,"Gainesville, FL",human resource,This position is responsible for delivering al...
2252,8368,Payroll Clerk - Data Entry,Prestigious Placement,"Memphis, TN",data entry,Payroll Clerk Job Responsibilities: Pays emplo...
2253,8377,Warehouse Handler/ Data Entry,"HiTech Assets, LLC.","Memphis, TN",data entry,Seeking full time energetic and reliable audit...
2254,8385,Data Entry Assistant,Industrial Motor Power Corp,"Burbank, CA",data entry,"Will work under the marketing department, and ..."
2255,8393,Entry Level Recruiter / HR / Sales / Marketing...,Agon Management Group,"Alexandria, VA",human resource,Agon Management Group is looking for a self-...
2256,8394,Data Entry Specialist/Creative Content Producer,Call Center,"San Antonio, TX",data entry,Great Job for College Students! Looking for ...
2257,8402,Human Resources Manager,New Directions Counseling Services,"Richmond, VA",human resource,JOB DESCRIPTION Title: Human Resource Mana...
2258,8403,Data Entry,New Jersey Hills Media Group,"Bernardsville, NJ",data entry,Busy Media Company seeking a well organized in...
2259,8411,Human Resources Generalist,NEILMED PHARMACEUTICALS,"Santa Rosa, CA",human resource,Summary of Responsibilities: The Human Resou...
2260,8412,"Customer Service, Collections, Data Entry for ...",Plaza Services,"Sandy Springs, GA",data entry,Service Consumers (30-60%) - Collecting on con...
2261,8420,Human Resources Manager,ESI,"Dickinson, TX",human resource,Human Resources Manager with experience in the...
2262,8430,"Data Entry - Document Scanning, Document Prepp...",24-7 Staffing L.L.C.,"Arlington, TX",data entry,We have various positions for a busy Document ...
2263,8439,Administrative Assistant/Human Resources,J2 Scientific,"Columbia, MO",human resource,J2 Scientific and its sister-company Cenetra h...
2264,8440,Certified Pharmacy Technician-Data Entry,"Alpha Professional Resources, A.P.R., Inc. (Al...","Frisco, TX",data entry,Mon-Fri 8-5pm Acts as the patients&rsquo; advo...
2265,8448,Human Resources Generalist,Cosentino North America,"Sugar Land, TX",human resource,The Human Resource Generalist is responsible f...
2266,8449,import / data entry clerk,Apparel Industry,"New York, NY",data entry,Data Input in to Blue Cherry system to create ...
2267,8457,Data Entry Specialist,Global Medical Device Manufacturing Company,"Mahwah, NJ",data entry,Looking for a candidate who is very detailed o...
2268,8465,Human Resource Manager (Plant),"SLC Search Group, LLC","Corona, CA",human resource,We are seeking a Human Resource Manager (Plant...
2269,8466,Data Entry and Office Support,John's Farm,"Plainview, NY",data entry,Seeking someone to assist in out office duties...
2270,8476,Inventory Processing &amp; Data Entry Controller,HR Connect Staffing Services,"Detroit, MI",data entry,Looking for full time candidate for a young bu...
2271,8485,Service / Support Coordinator,Human Resources,"Ashwaubenon, WI",human resource,"QAL Quality Assembly &amp; Logistics, located ..."
2272,8486,Payroll / HR Associate,Ford of Montebello,"Montebello, CA",human resource,Ford of Montebello is located in Montebello C...
2273,8487,Division Human Resource Manager,OmniSource,"Spartanburg, SC",human resource,"OmniSource Corporation, a wholly owned subsidi..."
2274,8492,Outside Sales - B2B,SIMPLIFI PAYROLL &amp; HR,"Philadelphia, PA",human resource,Primary responsibilities include the ability t...

In [4]:
jab_cate_gourp

                   Count
Type
chemist               43
data analyst         190
data entry           231
design               227
digital-media         57
health care          227
human resource       230
law                  243
real estate          216
sales                232
software engineer    174
teacher              205

In [5]:
job_posting_table = job_posting_table.drop(job_posting_table.columns[0],axis=1)
job_posting_table["ID"] = job_posting_table.index

In [6]:
job_type_description_table = pd.DataFrame(columns={"Type","Job_Description_sum"})

In [7]:
#Job_type_description = ""
n = 0
for a in jab_cate_gourp.index:
    
     
    job_type_description_dic = {}
    job_type = a
    Job_type_description = ""
    data_table_of_job_type = job_posting_table[job_posting_table.Type == job_type]
    job_description_list = list(data_table_of_job_type.Description.values)
    for b in range(len(job_description_list)):
        Job_type_description = Job_type_description + job_description_list[b]
    job_type_description_dic = {"Type":job_type,"Job_Description_sum":Job_type_description}
    job_type_description_series = Series(job_type_description_dic)
    job_type_description_small_table = DataFrame(job_type_description_series)
    job_type_description_small_table = job_type_description_small_table.transpose()
    job_type_description_table = job_type_description_table.append(job_type_description_small_table)

In [8]:
job_type_description_table = job_type_description_table.reset_index()
job_type_description_table = job_type_description_table.drop(job_type_description_table.columns[0],axis=1)

In [9]:
job_type_description_table

                                  Job_Description_sum               Type
0    Process Development Chemist- Simply Biotech  ...            chemist
1    Premier Staffing Source, Inc.  is seeking a S...       data analyst
2    Data Entry - Court Research Abstractor  This ...         data entry
3   Civil Site Design Engineer - Land Development ...             design
4   Our major fashion retailer is seeking a Digita...      digital-media
5      GeBBS Healthcare Solutions, an industry lea...        health care
6    VP of Human Resources  Location: Phoenix, AZ ...     human resource
7   Are you looking for a good stable company to w...                law
8    Job Title: Real Estate Loan Processor   Durat...        real estate
9    Sales Person and Internet :  We are growing!!...              sales
10   Automation Software Engineer  Immediate posit...  software engineer
11  Teacher Assistants Needed in two different cla...            teacher

In [10]:
student_resume_table = pd.DataFrame(columns=["student_name","resume_content"])
path = 'D:/R_data/Job_for_Myklovr/resume'
for filename in os.listdir(path):
    student = open(path+"/"+filename,"rU")
    resume_student = student.read()
    resume_student = resume_student.decode("utf-8","ignore")
    resume_student = resume_student.replace('\n', ' ').replace('\r', ' ').replace('\t', ' ')
    resume_student = json.dumps(resume_student)
    resume_student_content = resume_student
    student_name = filename.split(".")[0]
    #print student_name,resume_student_content
    
    student_info_dic = {"student_name":student_name,"resume_content":resume_student_content}
    series = pd.Series(student_info_dic)
    student_table = pd.DataFrame(series)
    student_table = student_table.transpose()
    student_resume_table = student_resume_table.append(student_table)
    student_resume_table = student_resume_table.reset_index()
    student_resume_table = student_resume_table.drop(student_resume_table.columns[0],axis=1)

In [11]:
student_resume_table

                                      resume_content           student_name
0  "ADITI RAMESH BHUTEKAR 48, Romaine Avenue, Jer...  aditi ramesh bhutekar
1  "ANH PHUNG  New York, NY | +1 (218) 409-9739 |...              Anh_Phung
2  "Fanny Heneine Flat 1806, 100 Landsdowne Stree...                  fanny
3  "Jialyu Zhang (848) 391-5026 Highland Park, NJ...                 jialyu
4  "Haoxi Huang 560 MAIN ST, New York, NY 10044 3...      resume_HaoxiHuang

## find the suitbale career path for every student

find a way to moderate the long running time

In [12]:
career_description_list = list(job_type_description_table.Job_Description_sum)
start = timeit.default_timer()

totalvocab_stemmed = []
totalvocab_tokenized = []
for i in career_description_list:
    allwords_stemmed = tokenize_and_stem(i) 
    totalvocab_stemmed.extend(allwords_stemmed) 
    
    allwords_tokenized = tokenize_only(i)
    totalvocab_tokenized.extend(allwords_tokenized)
stop = timeit.default_timer()

print stop - start

27.4271617863

In [13]:
tfidf_vectorizer = TfidfVectorizer( max_features=5000,
                                  stop_words='english',
                                 use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))

%time tfidf_matrix = tfidf_vectorizer.fit_transform(career_description_list)

Wall time: 23.4 s

formulate the career path/ token tf-idf matrix

In [14]:
dictionary_df = DataFrame(Series(tfidf_vectorizer.get_feature_names()))

In [15]:
for a in range(len(career_description_list)):
    row_array = tfidf_matrix[a].toarray()
    row_list = row_array.tolist()[0]
    career_path_name = job_type_description_table.ix[a,["Type"]].values[0]
    dictionary_df[career_path_name] = row_list

In [16]:
dictionary_df = dictionary_df.rename(columns={0:"tokens"})

In [17]:
dictionary_df

,tokens,chemist,data analyst,data entry,design,digital-media,health care,human resource,law,real estate,sales,software engineer,teacher
0,-experi,0.003017,0.000524,0.000000,0.004730,0.000000,0.000688,0.000000,0.000000,0.003095,0.000000,0.001778,0.000000
1,.net,0.000000,0.004429,0.000000,0.002856,0.000000,0.003322,0.000000,0.000000,0.000000,0.000000,0.058705,0.000000
2,.net c,0.000000,0.000798,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027991,0.000000
3,.net c wpf,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028387,0.000000
4,1st,0.002353,0.000000,0.003445,0.001383,0.001217,0.000000,0.000304,0.002207,0.001448,0.001592,0.000000,0.000444
5,3d,0.000000,0.000000,0.000000,0.040572,0.000000,0.000000,0.000000,0.000000,0.004164,0.000000,0.004786,0.000000
6,3rd,0.000000,0.001747,0.001179,0.001183,0.005205,0.001376,0.000260,0.000630,0.000826,0.000272,0.002372,0.000380
7,3rd parti,0.000000,0.002042,0.000689,0.001383,0.006084,0.001608,0.000304,0.000736,0.000483,0.000000,0.002773,0.000000
8,401k,0.001864,0.002265,0.007095,0.005477,0.006747,0.012739,0.005786,0.009909,0.003441,0.007568,0.002929,0.002460
9,a.m.,0.000000,0.000000,0.004865,0.000542,0.001432,0.001262,0.001432,0.004329,0.000000,0.001124,0.000000,0.000000
10,a.m. p.m.,0.000000,0.000000,0.005302,0.000591,0.000000,0.001375,0.001561,0.002831,0.000000,0.000817,0.000000,0.000000
11,aa,0.008306,0.000961,0.000000,0.001085,0.000000,0.000000,0.000358,0.000866,0.000000,0.000375,0.000000,0.004177
12,abil,0.089459,0.121011,0.129355,0.100781,0.084825,0.098091,0.120533,0.099087,0.086395,0.054742,0.070291,0.049911
13,abil abil,0.005098,0.002655,0.002240,0.000499,0.001318,0.001742,0.002638,0.000000,0.000000,0.000000,0.001001,0.000000
14,abil adjust,0.005537,0.000000,0.000811,0.001085,0.000000,0.001262,0.003939,0.000000,0.000000,0.000375,0.001088,0.000000
15,abil adjust focus,0.006609,0.000000,0.000000,0.001295,0.000000,0.001506,0.004702,0.000000,0.000000,0.000000,0.001298,0.000000
16,abil analyz,0.001864,0.001618,0.000546,0.001095,0.001928,0.000849,0.000964,0.000583,0.001529,0.000505,0.002197,0.000703
17,abil appli,0.005098,0.001328,0.000747,0.001998,0.000000,0.001162,0.001649,0.000797,0.000000,0.000000,0.004006,0.000000
18,abil build,0.000000,0.001133,0.001911,0.000852,0.001125,0.002973,0.003095,0.002721,0.005354,0.001766,0.000000,0.002051
19,abil build rapport,0.000000,0.000443,0.002240,0.000000,0.000000,0.003485,0.001649,0.002392,0.005229,0.001035,0.000000,0.002404
20,abil bull,0.000000,0.001634,0.001378,0.001844,0.001217,0.000000,0.001217,0.000736,0.001448,0.000318,0.000462,0.000000
21,abil communic,0.005591,0.005824,0.004912,0.002191,0.004820,0.006370,0.004580,0.001166,0.003441,0.000757,0.001831,0.001406
22,abil communic effect,0.000000,0.002796,0.002358,0.000394,0.001041,0.002293,0.001823,0.000630,0.002064,0.000817,0.000791,0.000380
23,abil creat,0.002549,0.002655,0.000000,0.001998,0.001318,0.001162,0.000330,0.000797,0.000000,0.000000,0.001502,0.000000
24,abil develop,0.000000,0.003540,0.000000,0.001998,0.003955,0.004065,0.002308,0.000000,0.000523,0.000690,0.004006,0.000000
25,abil effect,0.002013,0.004892,0.002947,0.003155,0.000000,0.003210,0.004426,0.001889,0.001239,0.000817,0.002768,0.000380
26,abil effect present,0.000000,0.002095,0.000000,0.001182,0.000000,0.003438,0.001171,0.000000,0.000000,0.000000,0.001778,0.000569
27,abil follow,0.000000,0.000000,0.002432,0.001627,0.000000,0.000631,0.000000,0.002598,0.002272,0.001124,0.000544,0.000000
28,abil handl,0.002175,0.002266,0.001911,0.001278,0.000000,0.001487,0.004220,0.004081,0.002231,0.001178,0.000855,0.000000
29,abil handl multipl,0.002769,0.002403,0.001622,0.000542,0.000000,0.000000,0.001074,0.000000,0.001704,0.000000,0.001088,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,xf0b7,0.000000,0.000000,0.000000,0.016187,0.051277,0.006024,0.000000,0.010335,0.000000,0.000000,0.000000,0.014958
4971,xml,0.000000,0.001721,0.000000,0.000647,0.000000,0.003012,0.000427,0.000000,0.000000,0.000000,0.010387,0.000000
4972,year,0.070822,0.068594,0.053489,0.084349,0.057835,0.082804,0.066293,0.102585,0.070339,0.051714,0.097383,0.064322
4973,year age,0.000000,0.000000,0.001936,0.000000,0.000000,0.002259,0.000427,0.000000,0.000000,0.003579,0.000000,0.008102
4974,year colleg,0.000000,0.000000,0.000637,0.000426,0.001125,0.000496,0.002251,0.002041,0.000446,0.000589,0.001282,0.001231
4975,year degre,0.000000,0.002655,0.000747,0.001998,0.000000,0.000000,0.000989,0.000797,0.000000,0.003450,0.001001,0.000961
4976,year experi,0.014910,0.020708,0.011462,0.027021,0.016387,0.020807,0.012294,0.034389,0.011086,0.003279,0.034413,0.009842
4977,year experi work,0.000000,0.000408,0.000000,0.001383,0.002434,0.000536,0.001522,0.002943,0.000483,0.000000,0.000462,0.005324
4978,year hr,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015230,0.000000,0.000000,0.000000,0.000000,0.000000
4979,year human,0.000000,0.000000,0.000000,0.000000,0.000000,0.001047,0.014864,0.000000,0.000000,0.000000,0.000000,0.000000
4980,year human resourc,0.000000,0.000000,0.000000,0.000000,0.000000,0.001047,0.014269,0.000000,0.000000,0.000000,0.000000,0.000000
4981,year old,0.000000,0.000000,0.000000,0.000714,0.000000,0.000000,0.000000,0.000000,0.000748,0.001973,0.000000,0.013747
4982,year profession,0.000000,0.001888,0.000637,0.002557,0.001125,0.000991,0.003095,0.000000,0.000892,0.000294,0.003845,0.001641
4983,year profession experi,0.000000,0.000961,0.000000,0.001085,0.000000,0.000631,0.002149,0.000000,0.000568,0.000000,0.002175,0.001566
4984,year progress,0.000000,0.000443,0.000747,0.000499,0.001318,0.001162,0.003957,0.003189,0.000000,0.000345,0.000000,0.000000
4985,year relat,0.004026,0.004892,0.002358,0.005521,0.001041,0.002293,0.003385,0.001259,0.001239,0.000272,0.005536,0.000000
4986,year relat experi,0.004350,0.003021,0.001911,0.004261,0.000000,0.002478,0.001969,0.001360,0.000892,0.000294,0.005127,0.000000
4987,year relev,0.007058,0.004901,0.000689,0.000922,0.000000,0.002144,0.001522,0.001472,0.000483,0.000000,0.004159,0.000000
4988,year relev experi,0.009052,0.005239,0.000000,0.001182,0.000000,0.000688,0.000390,0.000000,0.000000,0.000000,0.004149,0.000000
4989,year rsquo,0.005591,0.006148,0.000546,0.007303,0.001928,0.003822,0.007955,0.005829,0.005352,0.001261,0.003295,0.001406
4990,year rsquo experi,0.005591,0.006148,0.000546,0.005842,0.001928,0.001274,0.005303,0.003497,0.003441,0.001009,0.002929,0.000351
4991,year sale,0.000000,0.000885,0.000000,0.000499,0.001318,0.000581,0.000330,0.000797,0.001046,0.004485,0.000000,0.000000
4992,year softwar,0.000000,0.000798,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014447,0.000000
4993,year work,0.001864,0.001618,0.001637,0.001826,0.001928,0.001699,0.001205,0.001749,0.000765,0.000505,0.003661,0.000351
4994,year year,0.000000,0.001442,0.001622,0.000000,0.001432,0.000631,0.000000,0.002598,0.000000,0.000749,0.000000,0.003133
4995,yes,0.000000,0.001770,0.001493,0.001998,0.000000,0.000000,0.001319,0.000000,0.003137,0.004830,0.003004,0.001442
4996,york,0.001864,0.001294,0.001637,0.001826,0.005784,0.002123,0.000964,0.005246,0.002294,0.001514,0.001098,0.005975
4997,young,0.000000,0.000961,0.000811,0.000000,0.000000,0.000000,0.000716,0.000000,0.000568,0.000749,0.000544,0.028196
4998,young children,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.039367
4999,youth,0.000000,0.000000,0.000000,0.000000,0.000000,0.000925,0.000525,0.000000,0.000000,0.000000,0.000000,0.023739

choose top 2500 keywords as the content of every career path

In [18]:
job_type_description_table["keyword_description"] = "void"

In [19]:
for a in dictionary_df.columns[1:]:
    keyword_token_list = list(dictionary_df.sort_values(by=[a],ascending = False).tokens)[:2500]
    keyword_descripton = " ".join(keyword_token_list)
    index_num = list(job_type_description_table.Type).index(a)
    job_type_description_table.ix[index_num,["keyword_description"]] = keyword_descripton

In [20]:
job_type_description_table

,Job_Description_sum,Type,keyword_description
0,Process Development Chemist- Simply Biotech ...,chemist,chemist product middot experi chemistri work r...
1,"Premier Staffing Source, Inc. is seeking a S...",data analyst,data experi middot work busi requir manag bull...
2,Data Entry - Court Research Abstractor This ...,data entry,data data entri entri work bull skill requir m...
3,Civil Site Design Engineer - Land Development ...,design,design work experi middot requir engin bull pr...
4,Our major fashion retailer is seeking a Digita...,digital-media,media digit digit media client work experi man...
5,"GeBBS Healthcare Solutions, an industry lea...",health care,care nurs healthcar middot experi patient work...
6,"VP of Human Resources Location: Phoenix, AZ ...",human resource,manag human human resourc resourc employe hr m...
7,Are you looking for a good stable company to w...,law,law law firm experi firm work client attorney ...
8,Job Title: Real Estate Loan Processor Durat...,real estate,estat real estat real manag team work experi b...
9,Sales Person and Internet : We are growing!!...,sales,sale manag custom market busi servic work expe...
10,Automation Software Engineer Immediate posit...,software engineer,softwar experi develop middot softwar engin en...
11,Teacher Assistants Needed in two different cla...,teacher,teacher children classroom student school pare...

In [21]:
student_resume_table["top_3_career_path_recommendation"] = "void"

In [22]:
start = timeit.default_timer()

for a in student_resume_table.index:
    career_path_student_list = []
    resume_content = student_resume_table.ix[a,["resume_content"]].values[0]
    career_path_student_list.append(resume_content)
    for b in job_type_description_table.index:
        keyword_description = job_type_description_table.ix[b,["keyword_description"]].values[0]
        career_path_student_list.append(keyword_description)

    tfidf_vectorizer = TfidfVectorizer( max_features=200000,
                                  stop_words='english',
                                 use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))


    %time tfidf_matrix = tfidf_vectorizer.fit_transform(career_path_student_list) 
    
    dist_1  =  cosine_similarity(tfidf_matrix)
    sim_matrix_table = pd.DataFrame(dist_1)
    student_list = sim_matrix_table[sim_matrix_table.index[0]]
    student_list_table = DataFrame(student_list)
    student_list_table["career_path"] = "void"
    student_list_table = student_list_table.drop(student_list_table.index[0],axis = 0)
    for b in student_list_table.index:
        track_index = b-1
        career_path = job_type_description_table.ix[track_index,["Type"]].values[0]
        student_list_table.ix[b,["career_path"]] = career_path
        student_list_table = student_list_table.rename(columns={0:"relevence_score"})
        student_list_table = student_list_table.sort_values(by=["relevence_score"],ascending = False)
        career_path_list_top_3 = list(student_list_table.career_path)[:3]
        top_3_career_path = ",".join(career_path_list_top_3)
    student_resume_table.ix[a,["top_3_career_path_recommendation"]] = top_3_career_path

Wall time: 1.51 s
Wall time: 1.77 s
Wall time: 1.49 s
Wall time: 1.79 s
Wall time: 1.67 s

In [24]:
student_resume_table

,resume_content,student_name,top_3_career_path_recommendation
0,"""ADITI RAMESH BHUTEKAR 48, Romaine Avenue, Jer...",aditi ramesh bhutekar,"data analyst,software engineer,digital-media"
1,"""ANH PHUNG New York, NY | +1 (218) 409-9739 |...",Anh_Phung,"data analyst,software engineer,law"
2,"""Fanny Heneine Flat 1806, 100 Landsdowne Stree...",fanny,"chemist,law,design"
3,"""Jialyu Zhang (848) 391-5026 Highland Park, NJ...",jialyu,"data analyst,software engineer,data entry"
4,"""Haoxi Huang 560 MAIN ST, New York, NY 10044 3...",resume_HaoxiHuang,"data analyst,software engineer,data entry"

## recommend every student detailed job title from top three career path

In [31]:
for a in student_resume_table.index:
    top_3_career_path_list = student_resume_table.ix[a,["top_3_career_path_recommendation"]].values[0].split(",")
    student_resume = student_resume_table.ix[a,["resume_content"]].values[0]
    student_name = student_resume_table.ix[a,["student_name"]].values[0]
    
    new_job_posting_table = pd.DataFrame(columns =job_posting_table.columns )
    for detail_career_path in top_3_career_path_list:
        sub_job_posting_table = job_posting_table[job_posting_table.Type == detail_career_path]
        new_job_posting_table = new_job_posting_table.append(sub_job_posting_table)
    

    new_job_posting_table = new_job_posting_table.reset_index()
    new_job_posting_table = new_job_posting_table.drop(new_job_posting_table.columns[0],axis = 1)
   
    student_job_title_list = []
    student_job_title_list.append(student_resume)
    for job_description in new_job_posting_table.Description:
        student_job_title_list.append(job_description)
        
    
    tfidf_vectorizer = TfidfVectorizer( max_features=10000,
                                  stop_words='english',
                                 use_idf=True, tokenizer=tokenize_and_stem, ngram_range=(1,3))
    %time tfidf_matrix = tfidf_vectorizer.fit_transform(student_job_title_list) 
    
    dist_1  =  cosine_similarity(tfidf_matrix)
    sim_matrix_table = pd.DataFrame(dist_1)
    job_title_recommendation_row = pd.DataFrame(sim_matrix_table.ix[0])
    job_title_recommendation_row = job_title_recommendation_row.drop(job_title_recommendation_row.index[0],axis=0)
    job_title_recommendation_row = job_title_recommendation_row.rename(columns={0:"relevence_score"})
    
    job_title_recommendation_row["Title"] = "void"
    job_title_recommendation_row["Company"] = "void"
    job_title_recommendation_row["Location"] = "void"
    job_title_recommendation_row["Description"] = "void"
    job_title_recommendation_row["ID"] = "void"
    job_title_recommendation_row["Type"] = "void"
    for a in job_title_recommendation_row.index:
        track_id = a-1
        job_title = new_job_posting_table.ix[track_id,["Title"]].values[0]
        #print job_title
        company = new_job_posting_table.ix[track_id,["Company"]].values[0]
        location = new_job_posting_table.ix[track_id,["Location"]].values[0]
        description = new_job_posting_table.ix[track_id,["Description"]].values[0]
        ID = new_job_posting_table.ix[track_id,["ID"]].values[0]
        Type = new_job_posting_table.ix[track_id,["Type"]].values[0]
        job_title_recommendation_row.ix[a,["Title"]] = job_title
        job_title_recommendation_row.ix[a,["Company"]] = company
        job_title_recommendation_row.ix[a,["Location"]] = location
        job_title_recommendation_row.ix[a,["Description"]] = description
        job_title_recommendation_row.ix[a,["ID"]] = ID
        job_title_recommendation_row.ix[a,["Type"]] = Type
        job_title_recommendation_row_final = job_title_recommendation_row.sort_values(by=["relevence_score"],ascending = False)
        job_title_recommendation_row_final.columns.name = student_name
        job_title_recommendation_row_final.to_csv("D:/R_data/Job_for_Myklovr/job_title_recommendation/"+student_name+".csv",sep=",")

Wall time: 5.66 s
Wall time: 5.89 s
Wall time: 4.29 s
Wall time: 6.16 s
Wall time: 5.84 s

In [30]:
job_title_recommendation_row_final

resume_HaoxiHuang,relevence_score,Title,Company,Location,Description,ID,Type
127,0.186222,Data Analyst-Scientist Medical Product or Defe...,"Extremely Stable Firm, Recession Resistant, Ni...","Milpitas, CA",Newly Created Role with an Industry Leading S...,1493,data analyst
58,0.141343,Data Analyst - Software,Technology Consulting,"Reston, VA",If you enjoy the search for interesting patte...,697,data analyst
10,0.133426,Data Analyst,Recruiting Edge,"Boston, MA",Company Description We work for a local tech...,116,data analyst
157,0.131744,Director Data Science &amp; Analytics,Honeywell Aerospace,"Phoenix, AZ","At Honeywell, our people are driven by a desir...",1886,data analyst
5,0.131181,"Data Analytics/Analyst - 600 - Seattle, WA",PlacingIT,"Seattle, WA",Data Analytics/Analyst - 600 DETAILS Loc...,52,data analyst
6,0.131181,"Data Analytics/Analyst - 598 - Boston, MA",PlacingIT,"Boston, MA",Data Analytics/Analyst - 598 DETAILS Loc...,59,data analyst
15,0.125272,Data Analyst,Ascendum Solutions,"Georgetown, KY",Data Analyst Responsible for the structuring...,159,data analyst
145,0.125222,"Data Scientist and Analytics Developer, R (Isl...","BryceNet, Inc.","Island Park, NY","Data Scientist and Analytics Developer, R (I...",1715,data analyst
171,0.124526,Data Scientist &amp; Analytics Developer,bp staffing,"Long Beach, NY",Data Scientist &amp; Analytics Developer--Insu...,2046,data analyst
138,0.120137,Senior Data Scientist/Analyst (Non Medical ind...,"TER Consulting,LLC","Boston, MA",This is a fast growing firm with locations in ...,1650,data analyst
26,0.116172,Healthcare Data Analyst,Principled Strategies | Life Science Analytics...,"Solana Beach, CA",SUMMARY Principled Strategies seeks a Health...,300,data analyst
87,0.114578,Client Care Data Analyst,AccentHealth,"Tampa, FL",AccentHealth is seeking a Client Care Data Ana...,994,data analyst
117,0.114120,Data Analyst,KYOCERA,"Concord, CA",DIVISION: Kyocera Document Solutions Develop...,1363,data analyst
178,0.113668,Senior Sales Analytics Analyst 1650035355-001,Astellas,"Northbrook, IL",Astellas is the bright spot in the pharmaceuti...,2110,data analyst
110,0.112488,Senior Data Analyst / Data Scientist,BlueSkyClarity,"Boston, MA",Senior Data Analyst We are looking for a Sen...,1281,data analyst
147,0.111652,Data Analyst,"Cognius, LLC","Cambridge, MA","Cognius is a tight knit group of analysts, sof...",1727,data analyst
12,0.107962,Senior Data Analyst,Connect America,"Bala Cynwyd, PA",Senior Data Analyst Connect America is seek...,135,data analyst
131,0.107578,Data Analyst,ZipRecruiter,"Santa Monica, CA",The Business Operations and Analytics team&rsq...,1550,data analyst
63,0.106498,Data Analyst,Advantis Credit Union,"Milwaukie, OR",We Hire Awesome People! At Advantis we striv...,770,data analyst
156,0.106476,Research Analyst III,Craig Technologies,"Las Cruces, NM",Research Analyst III Location: Las Cruces...,1882,data analyst
142,0.104438,Data Analytics Consultant,"Association Analytics, Inc.","McLean, VA",Who we are: DSK Solutions is the leading Dat...,1692,data analyst
68,0.103496,Data Analytics Engineer - Cyber,Fractal Industries,"Reston, VA",Job Summary Our Data Analytics Engineer will...,802,data analyst
39,0.102107,Senior Marketing Data Analyst,Connect America,"Bala Cynwyd, PA","Connect America is seeking a dynamic, experien...",453,data analyst
188,0.100730,Data Scientist,"SaveSoft, Inc","Austin, TX",Data Scientist (Data Analytics) &ndash; P...,2192,data analyst
187,0.100309,Data Scientist,"SaveSoft, Inc","Los Angeles, CA",Data Scientist (Data Analytics) &ndash; P...,2185,data analyst
105,0.099938,Web to Consumer Senior Data Analyst,BlueSkyClarity,"Brighton, MA",Web to Consumer Senior Data Analyst Our eCo...,1231,data analyst
120,0.099700,Data Analytics Manager,AArete,"Chicago, IL",You will be required to: Apply understandi...,1388,data analyst
11,0.099378,Business Data Analyst Manager,VetSource,"Portland, OR",Interested in developing data usage as a core ...,122,data analyst
46,0.096936,Business Intelligence and Data Analytics Analyst,Van Metre Companies,"Fairfax, VA",The IT Business Intelligence and Data Analytic...,530,data analyst
164,0.096672,Business Support Analyst,Genesis Capital,"Woodland Hills, CA",SEEKING: BUSINESS SUPPORT ANALYST Genesis Ca...,1970,data analyst
...,...,...,...,...,...,...,...
568,0.011797,Title Insurance Agency Data Entry Typist,Financial Dimensions inc,"West Mifflin, PA",Title Insurance Agency Data Entry Typist F...,2202,data entry
245,0.011705,Software Engineer - Cross Platform,"Apollo Professional Solutions, Inc.","Redmond, WA",Job Category:Core Engineering Job Code: Job Ti...,760,software engineer
116,0.011439,"Entry Level Trader: Banking, Finance, Data, An...",MaverickFX Trading,"Norfolk, VA",Maverick FX is a proprietary trading firm fo...,1359,data analyst
588,0.011396,Data Entry,New Jersey Hills Media Group,"Bernardsville, NJ",Busy Media Company seeking a well organized in...,2258,data entry
595,0.011390,Inventory Processing &amp; Data Entry Controller,HR Connect Staffing Services,"Detroit, MI",Looking for full time candidate for a young bu...,2270,data entry
498,0.011338,CLAIMS DATA ENTRY SPECIALIST,Spherion,"Madison, WI","Spherion, in partnership with American Family ...",1468,data entry
512,0.011185,Data Entry Typist - $15 Per Hour,West Coast Staffing Solutions,"Glendale, CA",We currently have an open position for a Data ...,1609,data entry
527,0.010551,Data Entry Specialist,"Schulte Staffing Solutions, LLC","Peabody, MA",Seeking a professional candidate for a logisti...,1788,data entry
571,0.010547,Data Entry,"Welk Hospitality Services, LLC.","San Marcos, CA",We are looking for an individual that works we...,2217,data entry
438,0.010411,Data Entry &amp; Basic Accounting Job in One,Local Youngstown Area Company,"Youngstown, OH",Job opening for high stress level data entry t...,845,data entry
256,0.010389,Software Engineer III,Silvervine Software,"Atlanta, GA","Work closely with a team, and report clearly a...",889,software engineer
581,0.010345,Data Entry / Administrative Assistant - Transp...,"TST IMPRESO, Inc.","Coppell, TX",Administrative Support for Traffic Department:...,2245,data entry
232,0.010307,IT Software Engineer,"RURO, Inc.","Frederick, MD",About the Job Mid-Level Software Engineer wi...,616,software engineer
457,0.010183,Call Creation Coordinator (Data Entry),Iverify,"Chanhassen, MN",The Call Creation Coordinator position is re...,1055,data entry
406,0.010124,Data Entry Clerk Keying Data at the County Rec...,Software Incubator,"Manistique, MI",Looking for contractor to do data entry for So...,562,data entry
495,0.009840,Data entry,City Build Utility Supply,"Houston, TX",Invoicing customers and entering Manufacture i...,1446,data entry
593,0.009804,Data Entry Specialist,Global Medical Device Manufacturing Company,"Mahwah, NJ",Looking for a candidate who is very detailed o...,2267,data entry
446,0.009308,Data Entry,Azule Staffing,"Overland Park, KS",Percentage Duty 90% Data Entry 10% Problem-...,939,data entry
475,0.009250,Assistant/Clerical/Data Entry,Marin Eljaiek &amp; Lopez PL,"Coconut Grove, FL",Law firm in Coconut Grove seeks a clerical/dat...,1239,data entry
458,0.009017,Data Entry Business Office Associate,Clive Daniel Home,"Naples, FL",Responsible for verifying the accuracy of all ...,1062,data entry
476,0.007972,Data Entry,Manpower,"Champaign, IL",Data Entry Clerk Responsibilities include: A...,1247,data entry
430,0.007274,Quality Tech/ Data Entry,Confidential,"Livonia, MI",In search for a Quality Inspector for a facili...,782,data entry
423,0.007273,General Labor / Data Entry Job Fair 9.16.16,Exact Staff,"Chico, CA","When: September 16th, 2016 Where: Chico Commun...",720,data entry
394,0.007134,Data Entry Clerk Keying Data at the County Rec...,Software Incubator,"Hayneville, AL",Looking for contractor to do data entry for So...,379,data entry
462,0.005659,Xactimate Data Entry; $1000 Hiring Bonus,Servpro of NPWC,"Manassas, VA",SERVPRO of North Prince William County seeks a...,1107,data entry
590,0.005515,"Data Entry - Document Scanning, Document Prepp...",24-7 Staffing L.L.C.,"Arlington, TX",We have various positions for a busy Document ...,2262,data entry
338,0.005253,"Lead Software Engineer (.NET), JobID:218",Craftlogic Software LLC,"Irving, TX","Posting date: 9/17/2016 Salary : $140,00...",1901,software engineer
548,0.005217,Receptionist - Data Entry,"MESA, LLC / MesaBilling","Brookfield, WI",Rapidly growing medical billing firm in Brookf...,2042,data entry
329,0.004548,Software Engineer C++,Work22,"Chatsworth, CA","Software Engineer Job location: Chatsworth,Ca....",1812,software engineer
262,0.001865,Sr. Software Engineer (AWS/Scala),Horizontal Integration,"Eagan, MN",Job Title: Sr. Software Engineer (AWS/Scala) ...,963,software engineer